<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="form-group">
                <label for="search-input">Search</label>
                <input ng-model="$ctrl.query" type="text" class="form-control" id="search-input" placeholder="Search">
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="form-group">
                <label for="filter-input">Filter</label>
                <select ng-model="$ctrl.orderProp" class="form-control" id="filter-input">
                    <option value="name">Alphabetical</option>
                    <option value="age">Newest</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div ng-repeat="phone in $ctrl.phones  | filter:$ctrl.query  |  orderBy:$ctrl.orderProp" class="phone-item col-xs-12 col-md-3">

            <div class="card">
                <a href="#/phones/{{phone.id}}" class="thumb">
                    <div class="card-header">
                        <h5 class="card-title">{{phone.name}}</h5>
                    </div>
                    <img class="card-img-top" src="{{phone.imageUrl}}" alt="{{phone.name}}">
                </a>
                <div class="card-body">
                    <div class="card-text">{{phone.snippet}}</div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- container -->