<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="form-group">
                <label for="search-input">Search</label>
                <input ng-model="$ctrl.query" type="text" class="form-control" id="search-input" placeholder="Search">
            </div>
        </div>
    </div>
    <div class="row">
        <div ng-repeat="phone in $ctrl.phones  | filter:$ctrl.query" class="phone-item col-xs-12 col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{phone.name}}</h5>
                    <div class="card-text">{{phone.snippet}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- container -->